<div class="log"  >
  <div class="row">
    <h1>Sign up Form</h1>
      <p>Username: <input type="text" [(ngModel)]="username" ></p>
      <p>Name: <input type="text" [(ngModel)]="name" ></p>
      <p>Surname: <input type="text" [(ngModel)]="surname" ></p>
      <p>e-mail<input type="email" [(ngModel)]="e_mail"></p>
      <p>Phone number<input type="text" [(ngModel)]="phone_number"></p>
      <p>Password: <input type="password" [(ngModel)]="password"></p>
      <button  id="up" (click)="registerUser()">Sign up</button>
  </div>
</div>
