<div class="shipping">
  <h3>Shipping Prices</h3>

  <div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
    <span>{{ shipping.type }}</span>
    <span>{{ shipping.price | currency }}</span>
  </div>

    <p>Fullname: <input type="text" [(ngModel)]="fullname"></p>
    <p>Address: <input type="text" [(ngModel)]="address"></p>
    <p>Type: <input type="text" [(ngModel)]="shipping_type"></p>


  <button class="button" type="submit" (click)="purchase()">Purchase</button>

</div>
