<div class="products">
    <div *ngFor="let product of products">
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/product', product.id]"
      >
      <div class="column">
        <h3>
            <img [src]="product.img">

            <span id="text">
            {{ product.name }}
            </span>
            <p id="price">{{product.price|currency}}</p>
    <!--      <p>Description: {{product.description}}</p>-->
          <p id="rating">Rating: {{product.rating}}</p>
        </h3>

        <!--
          <app-product-alerts [product]="product" (notify)="onNotify()">
          </app-product-alerts> -->
      </div>
      </a>
      <a [href] = "'https://t.me/share/url?url='" id="share">
        <button type="button">Share</button></a>
      <br><br>

    </div>
</div>
