<div class="sort">
  <select name="choose_order" id="choose_order">
    <p>Sort by</p>
<!--    <option value="default" selected="selected">Sort by ...</option>-->
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</div>
<div class="products">

    <div *ngFor="let product of products">

      <div class="column">
        <h3>
          <a
            [title]="product.name + ' details'"
            [routerLink]="['/product', product.id]"
          >
            <img [src]="product.img">
            <span id="text">
            {{ product.name }}
            </span>
          </a>
          <p id="price">{{product.price|currency}}</p>
          <p id="rating">Rating: {{product.rating}}</p>
          <a [href] = "'https://t.me/share/url?url='" id="share">
            <button type="button">Share</button></a>
        </h3>
        <div class="cart" (click)="addToCart(product)" >Add to cart</div>
      </div>

      <br><br>

    </div>
</div>
