#one {
    margin: 40px;
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */    
    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7.5px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:20px;
    position: absolute;
    left:600px;
  }

  #two {
    margin: 40px;
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */
    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:90px;
    position: absolute;
    left:600px;

  
  }
  #three {
    margin: 40px;
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */
    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:160px;
    position: absolute;
    left:600px;

  
  }
  #four {
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */
    margin: 40px;

    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:230px;
    position: absolute;
    left:600px;

  
  }
  #five {
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */
    margin: 40px;

    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:300px;
    position: absolute;
    left:600px;

  
  }
  #six{
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */
    margin: 40px;

    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:370px;
    position: absolute;
    left:600px

  
  }
  #seven {
    /* background: linear-gradient(to right, #092 0%, #362 50%, #852 50%, #800 100%); */
    margin: 40px;
    background:linear-gradient(to right,rgb(23, 190, 23), red 130%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    top:440px;
    position: absolute;
    left:600px;

  
  }
  