.log {
  display: block ;
  position: absolute;
  background-color: white;
  width: 400px;
  height:400px;
  left: 600px;
  top:200px;
  border: 1px solid gray;
}
.inp{
  text-align: center;
  padding: 10px;
  margin-top:40px;
}
.log h1{
  color:black;
  margin-top: 20px;
  left:90px;
}
#signup{
  position: absolute;
  margin-top: 50px;
  left: 170px;
  text-decoration: underline;
}
.log button{
  border-radius: 10px;
  width: 120px;
  padding: 8px;
}
#l{
  text-align: center;
  color: white;
  margin-left: 30px;
}

.log input{
  margin-top: 10px;
  width: 350px;
}

#out{
  position: absolute;
  right: 90px;
  bottom: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
}
